body {
    background-color: $white-color;
    color: $primary-text-color;

    font-family: $main-fonts, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}

.pad {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h2, h4, h5, h6 {
    margin-bottom: 0px;
    margin-top: 0px;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}