$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$white-color: #FFFFFF;
$backdrop-color: rgba(0, 0, 0, 0.2);
$secondary-background-color: rgba(47, 48, 58, 0.8);
$footer-bcground-color: #2F303A;
$footer-text-color: rgba(255, 255, 255, 0.6);
$footer-sign-color: rgba(255, 255, 255, 0.4);
$button-bg-color: #F5F4FA;
$primary-border-color:  #AFB1B8;
$background-social-color: rgba(255, 255, 255, 0.1);
$header-border-color: #ECECEC;

$main-fonts: Roboto;
$logo-fonts: Raleway;
