.advantages-list {
    display: flex;

    & .item:not(:last-child) {
        margin-right: 30px;
    }
}

.advantages-title {
    color: $title-text-color;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    display: none;
}

.advantages-subtitle {
    margin-top: 0px;
    margin-bottom: 10px;
    color: $title-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;   
}

.advantages-text {
    margin-top: 0px;
    margin-bottom: 0px;
}

.advantages-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: $button-bg-color;
}