.footer {
    background-color: $footer-bcground-color;
}

.footer-headline {
    display: flex;
    display: block;
    margin-right: 69px;
}

.footer-logo {
    color: $white-color;

    font-family: $logo-fonts, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
}

.footer-logo p {
    margin: 0px;
}

.footer-logo span {
    color: $accent-color;
}

.actual-address {
    color: $white-color;
}

.footer-address {
    font-family: $main-fonts;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.footer-socials {
    display: flex;
}

.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: $background-social-color;
    fill: $white-color;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

.footer-socials .item:not(:last-child) {
    margin-right: 10px;

}

.box {
    display: flex;
    padding-top: 48px;
    padding-bottom: 28px;
    border-bottom: 1px solid $background-social-color;
}

.footer-link {
    color: $footer-text-color;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.footer-subtitle {
    margin-top: 0px;
    margin-bottom: 20px;

    color: $white-color;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
}

.footer-sign {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 21px;
    margin-top: 0px;
    margin-bottom: 0px;

    color: $footer-sign-color;

    font-size: 12px;
    line-height: 2.0;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-top: 35px;
    width: 200px;
    height: 50px;
    background-color: $accent-color;
    color: $white-color;
    font-family: $main-fonts;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    border-radius: 4px;
}

.subscribe::after {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url("../img/svg/icon-send.svg");
}

.footer-field {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    width: 358px;
    height: 50px;
}

.footer-field input {
    padding: 15px 16px;
    background-color: $footer-bcground-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.footer-field label {
    margin-bottom: 14px;
    color: $white-color;
}