.hero {
    max-width: 1600px;
    max-height: 600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient( 
        to right,
        $secondary-background-color, 
        $secondary-background-color
    ),
    url(../img/jpg/Header.jpg);
    background-position: center;
    background-color: $primary-text-color;

    &-title {
        margin-bottom: 46px;
    
        color: $white-color;
    
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
    }

    &-button {
        display: inline-block;
        padding: 10px 32px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    
        color: $white-color;
        background-color: $accent-color;
    
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        text-align: center;
        min-width: 200px;
    }
}