.text {
    display: none;
}

.portfolio-subtitle {
    padding-bottom: 4px;

    color: $title-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.portfolio-text {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;

    color: $primary-text-color;

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.portfolio-box {
    padding-top: 20px;
    padding-left: 24px;
}

.portfolio-picslist {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 94px;
}
.portfolio-link {
    position: relative;
    display: block;
    width: 370px;
    border: 1px solid #EEEEEE;
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-thumb img {
    display: block;
}

.portfolio-description {
    position: absolute;
    display: block;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;

    background-color: rgba(33, 150, 243, 0.9);
    color: $white-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    opacity: 0;
    
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-link:hover & {
        opacity: 1;
        transform: translateY(0%);
    }
}

.portfolio-picslist .item {
    margin-right: 30px;
    margin-bottom: 30px;

    &:hover,
    &:focus {
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    }

    &:nth-child(3n) {
        margin-right: 0px;
    }

    &:nth-last-child(-n +3) {
        margin-bottom: 0px;
    }
}