.service-list {
    display: flex;

    &-pic {
        display: block;
    }

    & .item {
        position: relative;
        z-index: -1;
    }

    & .item:not(:last-child) {
        margin-right: 30px;
    }
}

.service-title {
    margin-bottom: 50px;

    color: $title-text-color;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
}

.service-subtitle {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;

    margin-top:  0px;
    margin-bottom: 0px;

    font-family: $main-fonts;
    font-style: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white-color;
    background-color: $secondary-background-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    text-align: center;
}