.header {
    border-bottom: 1px solid $header-border-color;
}

.page-header {
    position: relative;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    &-row {
        display: flex;
        align-items: center;
    }
}

.site-nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;

    & .item {
        margin-bottom: 40px;
    }
}

.site-nav .link.current {
    color: $accent-color;
}

.current {
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 1px;
        width: calc(100% - 2px);
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
    }
}

// .site-nav .item:not(:last-child) {
//     margin-right: 50px;
// }

.site-nav .link {
    display: inline-flex;
    padding-top: 8px;
    padding-bottom: 8px;

    color: $title-text-color;  

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

    & .current {
        color: $accent-color;
    }
}

.contacts-nav {
    // display: inline-flex;
    // flex-direction: column;
    text-align: center;
    // margin-right: auto;
    // margin-left: auto;
}

.contacts-nav .link {
    color: $primary-text-color;
    fill: $primary-text-color;

    margin-bottom: 16px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
        fill: $accent-color;
    }
}

.header-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    & .icon-cross {
        display: none;
    }

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}

.header-button.is-open .icon-cross {
    display: block;
}

.header-button.is-open .icon-menu {
    display: none;
}

.mobile-menu {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 63px;
    left: 0;
    width: 100%;
    height: 393px;
    background-color: $white-color;
    z-index: 2;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
        opacity: 1;
        pointer-events: visible;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    } 
}

.contacts-nav .item:not(:last-child) {
    margin-bottom: 16px;
}