.header {
    border-bottom: 1px solid $header-border-color;
}

.navigation {
    display: flex;
    align-items: center;

    &-row {
        position: relative;
        display: flex;
        align-items: center;
    }
}

.site-nav {
    // display: flex;
    opacity: 0;

    pointer-events: none;
}

// .current {
//     position: relative;

//     &::after {
//         content: '';
//         display: block;
//         position: absolute;
//         bottom: 0;
//         left: 1px;
//         width: calc(100% - 2px);
//         height: 4px;
//         background-color: $accent-color;
//         border-radius: 2px;
//     }
// }

// .site-nav .item:not(:last-child) {
//     margin-right: 50px;
// }

.site-nav .link {
    // display: block;
    // padding-top: 32px;
    // padding-bottom: 32px;

    color: $title-text-color;  

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

    & .current {
        color: $accent-color;
    }
}

.contacts-nav {
    // display: flex;
    margin-left: auto;

    opacity: 0;
    pointer-events: none;
}

.contacts-nav .link {
    color: $primary-text-color;
    fill: $primary-text-color;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
        fill: $accent-color;
    }
}

.header-button {
    position: absolute;
    display: inline-flex;
    margin: 0;
    padding: 0;
    top: 21px;
    right: 10px;
    border: none;
    background-color: transparent;

    & .icon-cross {
        display: none;
    }

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}

.header-button.is-open .icon-cross {
    display: block;
}

.header-button.is-open .icon-menu {
    display: none;
}

// .contacts-nav .item:not(:last-child) {
//     margin-right: 30px;
// }